p {
  padding-left: 30px;
}
ul {
  padding-left: 10px;
}

@media (max-width: 768px) {
  h3 {
    font-size: 150%;
  }
  h4 {
    font-size: 110%;
  }
  p, ul {
    font-size: 80%;
  }
}
@media (max-width: 380px) {
  h3 {
    font-size: 120%;
  }
  h4 {
    font-size: 100%;
  }
  p, ul {
    font-size: 70%;
  }
}
