<div *ngIf="orientacja == 'galeria'" class="card h-100">
  <a [routerLink]="['/ogloszenie', miniatura.numerOgloszenia]">
    <img *ngIf="zdjecie != ''" class="card-img-top img-fluid img_galeria" src="{{zdjecie}}" alt="HTML5">
    <img *ngIf="zdjecie == ''" class="card-img-top img-fluid img_galeria" src="http://placehold.it/700x400" alt="HTML5">
  </a>
  <div class="card-block">
    <h4 class="card-title"><a [routerLink]="['/ogloszenie', miniatura.numerOgloszenia]">Ogłoszenie nr {{miniatura.numerOgloszenia}}</a></h4>
    <div class="row ogloszenie">
      <div class="col-12 opis_mini">{{miniatura.tytul}}</div>
      <div class="col-7">- termin wykonania : </div><div align="right" class="col-5 bold">{{miniatura.czasWykonania}}</div>
      <div class="col-7">- maksymalna cena :  </div><div align="right" class="col-5 bold">{{miniatura.maxCena}} zł</div>
      <div class="col-12">- lokalizacja (adres) :</div>
      <div class="col-2"></div><div class="col-10 bold">{{miniatura.miasto}}</div>
      <div class="col-2"></div><div class="col-10 bold"><p>{{miniatura.ulica}} {{miniatura.ulica_numer}}</p></div>
      <div class="col-7">Data publikacji : </div><div align="right" class="col-5">{{miniatura.dataPublikacji.split('T')[0]}}</div>
      <div class="col-7">Koniec licytacji :</div><div align="right" class="col-5">{{miniatura.koniecLicytacji.split('T')[0]}}</div>
    </div>
  </div>
</div>

<div *ngIf="orientacja == 'lista'" class="row list h-100">
  <div class="col-md-4">
    <a [routerLink]="['/ogloszenie', miniatura.numerOgloszenia]">
      <img *ngIf="zdjecie != ''" class="card-img-top img-fluid " src="{{zdjecie}}" alt="HTML5">
      <img *ngIf="zdjecie == ''" class="card-img-top img-fluid " src="http://placehold.it/700x400" alt="HTML5">
    </a>
  </div>
  <div class="col-md-8">
    <h4 class="card-title"><a [routerLink]="['/ogloszenie', miniatura.numerOgloszenia]">Ogłoszenie nr {{miniatura.numerOgloszenia}}</a></h4>
    <div class="row ogloszenie_lista">
      <div class="col-12 opis_mini">{{miniatura.tytul}}</div>
      <div class="col-7">- termin wykonania : </div><div align="right" class="col-5 bold">{{miniatura.czasWykonania}}</div>
      <div class="col-7">- maksymalna cena :  </div><div align="right" class="col-5 bold">{{miniatura.maxCena}}</div>
      <div class="col-12">- lokalizacja (adres) :</div>
      <div class="col-2"></div><div class="col-10 bold">{{miniatura.miasto}}</div>
      <div class="col-2"></div><div class="col-10 bold"><p>{{miniatura.ulica}} {{miniatura.ulica_numer}}</p></div>
      <div class="col-7">Data publikacji : </div><div align="right" class="col-5">{{miniatura.dataPublikacji.split('T')[0]}}</div>
      <div class="col-7">Koniec licytacji :</div><div align="right" class="col-5">{{miniatura.koniecLicytacji.split('T')[0]}}</div>
    </div>
  </div>
</div>
