<td>{{user.e_mail}}</td>
<td><input type="text" [(ngModel)]="user.nazwa" required></td>
<td>
  <select type="text" [(ngModel)]="user.typ" required>
    <option value="zleceniodawca">zleceniodawca</option>
    <option value="wykonawca">wykonawca</option>
    <option value="administrator">administrator</option>
  </select>
</td>
<td><button (click)="onEditSubmit(key)">Update </button></td>
<td><button (click)="blockUser(key)"   >Block  </button></td>
<td><button (click)="unblockUser(key)" >Unblock</button></td>
<td><button (click)="deleteUser(key)"  >Delete </button></td>
