<div class="col-6 col-md-3">{{user.nazwa}}</div>
<div class="col-6 col-md-4">{{user.e_mail}}</div>
<div class="col-6 col-md-3">
  <select type="text" [(ngModel)]="user.typ" (change)="updateUser(key)">
    <option value="zleceniodawca">zleceniodawca</option>
    <option value="wykonawca">wykonawca</option>
    <option value="administrator">administrator</option>
  </select>
</div>
<div class="checkbox col-1"><input type="checkbox" (change)="deleteUser(key)"></div>
<div class="checkbox col-1"><input type="checkbox" (change)="blockUser(key)" [(ngModel)]="blokada" ></div>
