/* -- Temporary fix for navbar responsiveness -- */
.navbar-toggler {
  z-index: 1;
}


.mbr-navbar__brand-img {
  max-height: 70px;
  height: 100%;
}

.fixed-top {
  z-index: 1050 !important;
}

@media (max-width: 576px) {
  nav > .container {
    width: 100%;
  }
}
