#dane2 {
  font-size: 18px;
}

.dane1 {
  text-align: center;
  font-size: 18px;
}

@media (min-width: 991px) {
  #dane2 {
    text-align: left;
    padding-left: 80px;
  }
}

@media (max-width: 990px) {
  #dane2 {
    text-align: center;
    padding-left: 10px;
  }
}

#formularz label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #555555;
  text-align: left;
  padding-left: 10px;
}

#formularz textarea, #formularz input {
  padding: 5px;
  border-radius: 3px;
  border:1px solid #ccc;
  margin-bottom: 25px;
  width: 96%;
  font-size: 16px;
}

#formularz button {
  font-size: 16px;
  padding: 5px;
  width: 99%;
  cursor: pointer;
  margin: auto 0;
}

.kontakt {
  padding-top: 50px;
}

.section-heading {
  margin-top: 1.5rem!important;
  margin-bottom: 1.5rem!important;
}

.h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

#mapag {
  margin: 0 auto;
}
