<div class="col-9 col-lg-4" id="tytul">
  <a [routerLink]="['/ogloszenie', oferta.numerOgloszenia]">
    {{tytul}}
  </a>
</div>
<div class="col-3 col-lg-2">nr {{oferta.numerOgloszenia}}</div>
<div class="col-4 col-lg-2">{{dzien}}</div>
<div class="col-4 col-lg-2">{{oferta.cena}} PLN</div>
<div class="checkbox col-2 col-lg-1">
  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" (change)="blockOferta(key)"  [disabled]="true" [(ngModel)]="blokada">
    <span class="custom-control-indicator"></span>
  </label>
</div>
<div class="button col-2 col-lg-1"><button class="btn btn-outline-primary btn-sm" (click)="deleteOferta(key)">Usuń</button></div>
