.section-heading {
  margin-top: 1.5rem!important;
  margin-bottom: 1.5rem!important;
}

.h2, h2, h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 1;
}


.btn-block {
  display: block;
  width: 100%;
}


.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: .3rem;
}
