<alert *ngIf="type == 'success'" type="success" dismissible="true" class="komunikat">
  <p *ngIf="id != undefined">Dodawania ogłoszenia zakończone poprawnie (<a [routerLink]="['/ogloszenie', id]">nr ref: {{id}}</a>)</p>
  <p *ngIf="id == undefined">{{text}}</p>
</alert>
<alert *ngIf="type  == 'info'" type="info" dismissible="true" class="komunikat">
  {{text}}
</alert>
<alert *ngIf="type  == 'warning'" type="warning" dismissible="true" class="komunikat">
  {{text}}
</alert>
<alert *ngIf="type  == 'danger'" type="danger" dismissible="true" class="komunikat">
  {{text}}
</alert>
