div.container {
  background-color: #bceaff;
}

div.row {
  margin-bottom: 15px;
}

div.row div {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

div.row div.red{
  background-color: red !important;
}
