<!--<div class="col-lg-4 col-md-6 portfolio-item" id="{{miniatura.identyfikator}}">-->
<div class="card h-100">
  <a href="#"><img class="card-img-top img-fluid img_mini" src="{{miniatura.zdjecie}}" alt="HTML5"></a>
  <div class="card-block">
    <h4 class="card-title"><a href="#">{{miniatura.tytul}}</a></h4>
    <div class="row ogloszenie">
      <div class="col-12 opis_mini">{{miniatura.opis}}</div>
      <div class="col-7">- termin wykonania : </div><div align="right" class="col-5 bold">{{miniatura.czas_wykonania}}</div>
      <div class="col-7">- maksymalna cena :  </div><div align="right" class="col-5 bold">{{miniatura.cena_max}}</div>
      <div class="col-12">- lokalizacja (adres) :</div>
      <div class="col-2"></div><div class="col-10 bold">{{miniatura.miejscowosc}}</div>
      <div class="col-2"></div><div class="col-10 bold"><p>{{miniatura.ulica}}</p></div>
      <div class="col-7">Data publikacji : </div><div align="right" class="col-5">{{miniatura.data_dodania}}</div>
      <div class="col-7">Koniec licytacji :</div><div align="right" class="col-5">{{miniatura.czas_licytacji}}</div>
    </div>
  </div>
</div>
<!--</div>-->
