.list {
  background-color: #fff;
  border-radius: 0.25rem;
}
.bold {
  font-weight: bold;
}
.img_galeria{
  height: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.img_lista{
  height: 230px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.ogloszenie{
   font-size: 80%;
   max-width: 350px;
}
.ogloszenie_lista{
  font-size: 80%;
  max-width: 450px;
}
.opis_mini{
  font-size: 130%;
  display: block;
  height: 50px;
  overflow:hidden;
  margin-bottom: 15px;
}
@media (max-width: 380px) {
  .list {
    padding-right: 15px;
    padding-left: 15px;
  }
  .img_mini {
    height: 180px;
  }
  .ogloszenie{
    font-size: 70%;
  }
  .ogloszenie_lista{
    font-size: 70%;
  }
  .opis_mini{
    font-size: 120%;
    height: 40px;
    margin-bottom: 10px;
  }
}
