<h5><br></h5>
<h3>Profil użytkownika</h3>
<h5><br></h5>
<div class="row">
  <div class="col-md-2">
    <img class="thumbnail" src="{{selectedProfil.zdjecie}}">
  </div>
  <div class="col-md-10">
    <form #profileForm="ngForm">
      <div class="form-group row">
        <label for="nazwa" class="col-sm-12 col-md-4 col-form-label">
          Imię i nazwisko / Nazwa firmy :
          <p class="limits">(max 50 znaków)</p>
        </label>
        <div class="col-sm-12 col-md-8">
          <input class="form-control" [(ngModel)]="selectedProfil.nazwa" required id="nazwa" maxlength="50" name="nazwa" placeholder="Podaj imię i nazwisko lub nazwę firmy.">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-5 col-md-4">e-mail :</label>
        <div class="col-sm-7 col-md-8">{{selectedProfil.email}}</div>
      </div>
      <div class="form-group row">
        <label for="telefon" class="col-6 col-sm-5 col-md-4 col-form-label">Numer kontaktowy :</label>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
          <input class="form-control" [(ngModel)]="selectedProfil.telefon" required type="text" maxlength="9" name="telefon" id="telefon" placeholder="123456789">
        </div>
      </div>
      <div class="form-group row">
        <label for="funkcja" class="col-6 col-sm-5 col-md-4 col-form-label">Typ użytkownika :</label>
        <div class="col-6 col-sm-7 col-md-8">
          <select id="funkcja" type="string" [(ngModel)]="funkcjaDomyslna" (ngModelChange)="changeRole()" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let funkcja of funkcje" [ngValue]="funkcja.rola">{{funkcja.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <p><br></p>
        <label class="col-12">Adres zamieszkania / siedziba firmy :</label>
      </div>
      <div class="form-group row">
        <label for="ulica" class="col-sm-12 col-md-4 col-form-label">ulica :</label>
        <div class="col-sm-12 col-md-8 row">
          <div class="col-8 col-lg-9">
            <input class="form-control" [(ngModel)]="selectedProfil.ulica" required id="ulica" maxlength="50" name="ulica" placeholder="nazwa ulicy">
         </div>
          <div class="col-4 col-lg-3">
            <input class="form-control" [(ngModel)]="selectedProfil.nr_bud" required id="nr_bud" maxlength="5" name="nr_bud" placeholder="nr bud.">
          </div>
       </div>
      </div>
      <div class="form-group row">
        <label for="miejscowosc" class="col-sm-12 col-md-4 col-form-label">miejscowość :</label>
        <div class="col-sm-12 col-md-8 row">
          <div class="col-5 col-sm-4 col-lg-3">
           <input class="form-control" [(ngModel)]="selectedProfil.kod" required id="kod_pocztowy" maxlength="6" name="kod" placeholder="00-000">
          </div>
         <div class="col-7 col-sm-8 col-lg-9">
           <input class="form-control" [(ngModel)]="selectedProfil.miejscowosc" required id="miejscowosc" maxlength="50" name="miejscowosc" placeholder="Miejscowość">
          </div>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <div class="form-group row">
        <div class="col-12">
          <button class="btn btn-secondary" (click)="cancelProfile()">Rezygnuj</button>
          <button class="btn btn-primary"   (click)="saveProfile()"  >Zapisz zmiany</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <div class="form-group row">
      <button *ngIf="selectedProfil.funkcja=='zleceniodawca'" class="btn btn-primary" (click)="listOfOrders()" >Zestawienie zleceń</button>
      <button *ngIf="selectedProfil.funkcja=='wykonawca'"     class="btn btn-primary" (click)="listOfOfferts()">Zestawienie ofert </button>
    </div>
    <div class="form-group row" id="login_time">
      <div  class="col-sm-12 col-md-6">Zalogowany o : {{time}}</div>
    </div>
  </div>
</div>
