.thumbnail{
  width: 100px
}

label {
  font-weight: bold;
}

p.limits {
  font-weight: normal;
  font-size: 70%;
}
div#login_time{
  font-size: 70%;
}

@media (max-width: 380px) {
  label{
    font-size: 80%;
  }
  .btn {
    padding: .4rem .6rem;
    font-size: .8rem;
  }
  input.form-control {
    font-size: 80%;
  }
  select#funkcja{
    font-size: 80%;
  }
}
