.btn {
  display: contents;
  font-weight: 200;
  line-height: 1.25;
  text-align: right;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid rgba(107, 16, 16, 0);
  padding: .18rem 2rem;
  font-size: 1.2rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-secondary {
  color: #292b2c;
  background-color: #ffba35;
  border-color: #ccc;
}


.form-control {
  display: block;
  width: 100%;
  padding: 12px 10;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #464a4c;
  background-color: rgba(37, 38, 17, 0.03);
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.40);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.button, select {
  text-transform: none;
}

.button, input {
            overflow: visible;
          }

.button, input, optgroup, select, textarea {
            font-family: sans-serif;
            font-size: 10%;
            line-height: 1.15;
            margin: 0;
          }





#niezalogowany{
  float: right;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

#widok{
  float: right;
  margin-bottom: 10px;
}

#ilosc_na_stronie{
  float: right;
  margin-bottom: 10px;
}





