#niezalogowany{
  float: right;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

#widok{
  float: right;
  margin-bottom: 10px;
}

#ilosc_na_stronie{
  float: right;
  margin-bottom: 10px;
}



