<div class="container">
  <!-- Page Heading -->
    <span id="niezalogowany">
      <h6 *ngIf="!auth.authenticated()">Nie jesteś zalogowany, wciśnij przycisk <strong>Login</strong> powyżej</h6>
    </span>
  <div class="row">
    <h1 class="my-4">Oferty <small>przeglądaj</small></h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
            <span id="widok">
                <span>Widok zleceń :</span>
                <button  title="Galeria" (click)="zmienOrientacje('galeria')">
                  <img *ngIf="orientacja == 'galeria'" src="../assets/img/kafelki_czerwone.png" alt="HTML5">
                  <img *ngIf="orientacja == 'lista'" src="../assets/img/kafelki_szare.png" alt="HTML5">
                </button>
                <button  title="Lista" (click)="zmienOrientacje('lista')">
                  <img *ngIf="orientacja == 'galeria'" src="../assets/img/lista_szara.png" alt="HTML5">
                  <img *ngIf="orientacja == 'lista'" src="../assets/img/lista_czerwona.png" alt="HTML5">
                </button>
            </span>
    </div>
    <div class="col-lg-12">
                <span id="ilosc_na_stronie">
                    <span>Ilość na stronie : </span>
                    <select id="na_stronie">
                        <option value="6" selected="selected">6</option>
                        <option value="12">12</option>
                        <option value="18">18</option>
                        <option value="24">24</option>
                        <option value="30">30</option>
                        <option value="48">48</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                    </select>
                </span>
    </div>
  </div>
  <div *ngIf="orientacja == 'galeria'" class="row">
    <div *ngFor="let miniatura of miniatury | async" class="col-lg-4 col-sm-6 portfolio-item">
      <ogloszenie-miniatura [miniatura]="miniatura" [orientacja]="orientacja"></ogloszenie-miniatura>
    </div>
  </div>
  <div *ngIf="orientacja == 'lista'" class="row">
    <div *ngFor="let miniatura of miniatury | async" class="col-lg-12 portfolio-item">
      <ogloszenie-miniatura [miniatura]="miniatura" [orientacja]="orientacja"></ogloszenie-miniatura>
    </div>
  </div>

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>

</div>
