<div class="row container">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <div class="form-group row">
      <button *ngIf="profil_view.typ=='zleceniodawca'" class="btn btn-primary" (click)="listaOgloszen()">Zestawienie ogłoszeń</button>
      <button *ngIf="profil_view.typ=='wykonawca'"     class="btn btn-primary" (click)="listaOfert()"   >Zestawienie ofert</button>
      <button *ngIf="profil_view.typ=='administrator'" class="btn btn-primary" (click)="Administrator()">Narzędzia administratora</button>
    </div>
  </div>
</div>
