a {
  cursor: pointer;
}

.galeria-ogloszen {
  padding-top: 20px;
}

.oferty-przegladaj {
  background: linear-gradient(40deg, #31b0d5 35%, #292a35 90%);
  background-color: #a6d8f5;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 60px;
}

.znajdz-ogloszenie {
  padding: 15px;
  font-size: large;
}

#niezalogowany{
  float: right;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ustawienia {
  float: right;
  padding: 10px;
}

.wyczysc-szukanie {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}



