.galeria-ogloszen {
  padding-top: 50px;
}

.oferty-przegladaj {
  background-color: #a6d8f5;
  padding: 30px;
}

.znajdz-ogloszenie {
  padding: 10px;
  font-size: large;
}

#niezalogowany{
  float: right;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ustawienia {
  float: right;
  padding: 10px;
}

.wyczysc-szukanie {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
