<div class="container">
<h2 class="my-4">Położenie glazury w łazience</h2>
<h6>{{ulica}} {{ulica_numer}}, {{miasto}}</h6>

<!-- Portfolio Item Row -->
<div class="row">

  <div class="col-md-8">
    <img *ngIf="zdjecie0 != ''" class="img-fluid" src="{{zdjecie0}}" alt="">
    <img *ngIf="zdjecie0 == ''" class="img-fluid" src="http://placehold.it/560x420" alt="">
    <h3 class="my-4"></h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img *ngIf="zdjecie1 != ''" class="img-fluid" src="{{zdjecie1}}" alt="">
          <img *ngIf="zdjecie1 == ''" class="img-fluid" src="http://placehold.it/160x120" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img *ngIf="zdjecie2 != ''" class="img-fluid" src="{{zdjecie2}}" alt="">
          <img *ngIf="zdjecie2 == ''" class="img-fluid" src="http://placehold.it/160x120" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img *ngIf="zdjecie3 != ''" class="img-fluid" src="{{zdjecie3}}" alt="">
          <img *ngIf="zdjecie3 == ''" class="img-fluid" src="http://placehold.it/160x120" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img *ngIf="zdjecie4 != ''" class="img-fluid" src="{{zdjecie4}}" alt="">
          <img *ngIf="zdjecie4 == ''" class="img-fluid" src="http://placehold.it/160x120" alt="">
        </a>
      </div>

    </div>

    <h3 class="my-3">Opis</h3>
    <p>{{opis}}</p>

  </div>

  <div class="col-md-4">
    <h1>Kontakt</h1>
    <h3>Telefon </h3>
    <p>{{telefon}}</p>
    <h3>Mapka google</h3>
    <div class="mbr-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJwzphW5B0_UYRg6jZzBNBg30" allowfullscreen=""></iframe></div>
    <form action="action_page.php" method="post" data-form-title="MESSAGE">
      <input type="hidden" value="J2P3ys61KyXAvi430ihTwm4YDqJ1UyDr0EvUmvC+LBxfMzlHEcIxBm+Pli+iuifdcmSihZQDd97WlrrlNWlV8Z+3n5/P68QnYVCKLpwkiPIxrRdsWrYCttoR2cJUulf/" data-form-email="true">
      <div class="form-group">
        <label class="form-control-label" for="contacts4-3-name">Imię</label>
        <input type="text" class="form-control input-sm input-inverse" name="name" required="" data-form-field="Name" id="contacts4-3-name">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="contacts4-3-email">Email<span class="form-asterisk">*</span></label>
        <input type="email" class="form-control input-sm input-inverse" name="email" required="" data-form-field="Email" id="contacts4-3-email">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="contacts4-3-phone">Telefon</label>
        <input type="tel" class="form-control input-sm input-inverse" name="phone" data-form-field="Phone" id="contacts4-3-phone">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="contacts4-3-phone">Oferta cenowa</label>
        <input type="tel" class="form-control input-sm input-inverse" name="phone" data-form-field="Phone" id="contacts4-3-phone">
      </div>
      <div class="form-group">
        <label class="form-control-label" for="contacts4-3-message">Wiadomość</label>
        <textarea class="form-control input-sm input-inverse" name="message" data-form-field="Message" rows="4" id="contacts4-3-message"></textarea>
      </div>
      <div class="mbr-buttons mbr-buttons--right btn-inverse"><button type="submit" class="btn btn-sm btn-black">Wyślij zapytanie</button></div>
    </form>

  </div>

</div>
</div>
