<div class="container">

  <!-- Portfolio Item Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Wykafelkowanie łazienki</h1>
        <h4>Gdańsk</h4>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-responsive" src="http://placehold.it/750x500" alt="">

      <p>Zlecę wykafelkowanie łazienki. Liczę za rozsądne oferty i solidengo fachowca. </p>

    </div>

    <div class="col-md-4">
      <h1>Kontakt</h1>
      <h3>Telefon </h3>
      <p>0800-123-123</p>
      <h3>Mapka google</h3>
      <div class="mbr-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJwzphW5B0_UYRg6jZzBNBg30" allowfullscreen=""></iframe></div>
      <form action="action_page.php" method="post" data-form-title="MESSAGE">
        <input type="hidden" value="J2P3ys61KyXAvi430ihTwm4YDqJ1UyDr0EvUmvC+LBxfMzlHEcIxBm+Pli+iuifdcmSihZQDd97WlrrlNWlV8Z+3n5/P68QnYVCKLpwkiPIxrRdsWrYCttoR2cJUulf/" data-form-email="true">
        <div class="form-group">
          <label class="form-control-label" for="contacts4-3-name">Imię</label>
          <input type="text" class="form-control input-sm input-inverse" name="name" required="" data-form-field="Name" id="contacts4-3-name">
        </div>
        <div class="form-group">
          <label class="form-control-label" for="contacts4-3-email">Email<span class="form-asterisk">*</span></label>
          <input type="email" class="form-control input-sm input-inverse" name="email" required="" data-form-field="Email" id="contacts4-3-email">
        </div>
        <div class="form-group">
          <label class="form-control-label" for="contacts4-3-phone">Telefon</label>
          <input type="tel" class="form-control input-sm input-inverse" name="phone" data-form-field="Phone" id="contacts4-3-phone">
        </div>
        <div class="form-group">
          <label class="form-control-label" for="contacts4-3-phone">Oferta cenowa</label>
          <input type="tel" class="form-control input-sm input-inverse" name="phone" data-form-field="Phone" id="contacts4-3-phone">
        </div>
        <div class="form-group">
          <label class="form-control-label" for="contacts4-3-message">Wiadomość</label>
          <textarea class="form-control input-sm input-inverse" name="message" data-form-field="Message" rows="4" id="contacts4-3-message"></textarea>
        </div>
        <div class="mbr-buttons mbr-buttons--right btn-inverse"><button type="submit" class="btn btn-sm btn-black">Wyślij zapytanie</button></div>
      </form>

    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Zdjecia</h3>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="#">
        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="#">
        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="#">
        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
      </a>
    </div>


  </div>
