<div class="container ogloszenie">
  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="row zdjecia rounded">
        <div class="col-md-8 col-sm-12">
          <img *ngIf="zdjecie0 != ''" class="img-fluid duzeZdjecie rounded" src="{{zdjecie0}}" alt="">
          <img *ngIf="zdjecie0 == ''" class="img-fluid duzeZdjecie rounded" src="http://placehold.it/560x420" alt="">
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <img *ngIf="zdjecie1 != ''" class="img-fluid maleZdjecie rounded" src="{{zdjecie1}}" alt="">
              <img *ngIf="zdjecie1 == ''" class="img-fluid maleZdjecie rounded" src="http://placehold.it/560x420" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <img *ngIf="zdjecie2 != ''" class="img-fluid maleZdjecie rounded" src="{{zdjecie2}}" alt="">
              <img *ngIf="zdjecie2 == ''" class="img-fluid maleZdjecie rounded" src="http://placehold.it/560x420" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h3 class="tytul" id="tytul">{{tytul}}</h3>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 lokalizacja">
          <i class="fa fa-map-marker" aria-hidden="true"></i> {{miasto}}, {{ulica}} {{ulica_numer}}
        </div>
        <div class="col-lg-6 col-md-12 lokalizacja">
          <i class="fa fa-calendar" aria-hidden="true"></i> Data publikacji: {{dataPublikacji}} {{godzinaPublikacji}}
        </div>
        <div class="col-lg-2 col-md-0"> </div>
      </div>
      <div class="row opis">
        {{opis}}
      </div>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled">
        <li class="maxCena rounded">
          <h6 class="opis">Maksymalna cena za wykonanie</h6>
          <h3 class="wartosc">{{maxCena}} zł</h3>
        </li>
        <li class="maxCzas rounded">
          <h6 class="opis">Maksymalny czas wykonania</h6>
          <h3 *ngIf="czasWykonania < 2" class="wartosc">{{czasWykonania}} dzień</h3>
          <h3 *ngIf="czasWykonania > 1" class="wartosc">{{czasWykonania}} dni</h3>
        </li>
        <li>
          <div>
            <googlemap [adres]="adres"></googlemap>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <img *ngIf="zlecajacy.zdjecie != ''" class="thumbnail rounded-circle profil" src="{{zlecajacy.zdjecie}}" alt="profile">
              <img *ngIf="zlecajacy.zdjecie == ''" class="thumbnail rounded-circle profil" src="http://placehold.it/80x80" alt="profile">
            </div>
            <div class="col-lg-8 col-md-12">
              <div class="row">
                <div class="col-lg-12">
                  <h3 class="zlecajacy">{{zlecajacy.nazwa}}</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <h6 class="opisMaly">
                    Telefon kontaktowy
                  </h6>
                  <h3 class="zlecajacy">{{telefon}}</h3>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="zlozone-oferty">
        Złożone oferty wykonania
      </div>
      <div *ngFor="let oferta of oferty | async">
        <app-oferta-wykonania [oferta]="oferta" [user_id]="oferta.oferent"></app-oferta-wykonania>
      </div>
      <app-alert *ngIf="oferta_dodana" [text]="oferta_text" [type]="oferta_status"></app-alert>
      <div *ngIf="auth.authenticated()" class="dodaj-oferte rounded container">
        <div class="row">
          <h3 class="tytul-oferta">Dodaj swoją ofertę wykonania</h3>
        </div>
        <div class="row">
          <div class="col-xl-2 col-lg-12 col-md-12">
            <img *ngIf="oferent.zdjecie != ''" class="thumbnail rounded-circle profil" src="{{oferent.zdjecie}}" alt="profile">
            <img *ngIf="oferent.zdjecie == ''" class="thumbnail rounded-circle profil" src="http://placehold.it/80x80" alt="profile">
          </div>
          <div class="col-xl-8 col-lg-12 col-md-12">
            <div class="row">
              <h6 class="zlecajacy">{{oferent.nazwa}}</h6>
            </div>
            <form #ofertaForm="ngForm">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label for="cena">Twoja cena wykonania</label>
                    <input type="number" required [(ngModel)]="oferta.cena" name="cena" class="form-control" id="cena" placeholder="cena w PLN" [disabled] = "oferta_dodana">
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label for="telefon">Telefon kontaktowy</label>
                    <input required type="tel" maxlength="9" [(ngModel)]="oferta.telefon" name="telefon" class="form-control" id="telefon" placeholder="numer telefonu" [disabled] = "oferta_dodana">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <label for="wiadomosc">Wiadomość dla zlecającego</label>
                    <textarea required type="text" maxlength="100" class="form-control" [(ngModel)]="oferta.wiadomosc" name="wiadomosc" id="wiadomosc" placeholder="Krótka wiadomość dla zlecającego" rows="3" [disabled] = "oferta_dodana"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-xl-2 col-lg-12 col-md-12">
            <button class="btn btn-primary dodaj" (click)="dodajOferte()" [disabled]="!ofertaForm.form.valid || oferta_dodana ">Dodaj<br>ofertę</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 cols-sm-0">
      &nbsp;
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>
</div>
